<!DOCTYPE html>
<html>
  <head>
    <title>[% timeline_name %] - BusyBird</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="[% script_name %]/static/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="[% script_name %]/static/busybird.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="[% script_name %]/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">BusyBird</a>
          <ul class="nav pull-left">
            <li class="active"><a>[% timeline_name %]</a></li>
            <li class="divider-vertical"></li>
          </ul>
          <div id="bb-indicator" class="navbar-text pull-left">
            <div id="bb-spinner-placeholder"></div>
            <span id="bb-msg"></span>
          </div>
          <div class="navbar-form pull-right">
            <div class="btn-group pull-right">
              <a class="btn btn-inverse" href="https://twitter.com/intent/tweet" target="_blank"><i class="icon-pencil icon-white"></i></a>
            </div>
          </div>
          <div class="navbar-text pull-right">
            <span class="label">Lv. <span class="display-level">0</span></span>
          </div>
          <div class="navbar-form pull-right">
            <div class="btn-group pull-right">
              <a id="bb-button-incriment-display-level" class="btn btn-inverse" href="#">
                <i class="icon-zoom-in icon-white"></i>
              </a>
              <a id="bb-button-decriment-display-level" class="btn btn-inverse" href="#">
                <i class="icon-zoom-out icon-white"></i>
              </a>
            </div>
            <div class="btn-group pull-left">
              <a id="bb-new-statuses-button" class="btn btn-small btn-inverse disabled">
                New <span class="bb-new-statuses-num badge">0</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="sidebar-nav sidebar-nav-fixed accordion" id="sidebar">
          </div>
        </div>
        <div class="span8">
          <ul id="statuses" class="unstyled">
          </ul>
          <div id="main-footer">
            <a class="btn btn-primary" id="bb-more-button" data-loading-text="Loading..." href="#">More...</a>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          Powered by <a href="http://twitter.github.com/bootstrap/">Bootstrap, from Twitter</a>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="[% script_name %]/static/spin.js"></script>
    <script type="text/javascript" src="[% script_name %]/static/q.js"></script>
    <script type="text/javascript" src="[% script_name %]/static/busybird.js"></script>
    <script type="text/javascript" src="[% script_name %]/static/timeline.js"></script>
    <script type="text/javascript" src="[% script_name %]/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
$(function() {
    var spinner = new bb.Spinner("#bb-spinner-placeholder");
    var message_banner = new bb.MessageBanner("#bb-msg");
    var status_container = new bb.StatusContainer({
        selectorContainer: "#statuses", timeline: '[% timeline_name | js %]',
        apiBase: '[% script_name | js %]'
    });
    var unacked_counts_poller = new bb.TimelineUnackedCountsPoller({
        statusContainer: status_container
    });
    var new_statuses_button = {
        enabled: false,
        initialize: function() {
            var self = this;
            $("#bb-new-statuses-button").on("click", function() { new_statuses_button.trigger(); return false; });
            self._setEnabled(false);
            unacked_counts_poller.listenOnChange(function(unacked_counts) {
                var total = unacked_counts.total;
                $(".bb-new-statuses-num").text(total);
                if(total === 0) {
                    self._setEnabled(false);
                }else {
                    self._setEnabled(true);
                }
            });
        },
        _setEnabled: function(new_state) {
            var self = this;
            var $button = $("#bb-new-statuses-button");
            self.enabled = new_state;
            if(self.enabled) {
                $button.removeClass("disabled");
            }else {
                $button.addClass("disabled");
            }
        },
        trigger: function() {
            var self = this;
            if(!self.enabled) return;
            spinner.begin();
            self._setEnabled(false);
            status_container.loadUnackedStatuses().then(function(result) {
                // TODO: render messages according to maxReached and statuses.
            }).fail(function(error) {
                console.error(error);
                message_banner.show(error, "error");
            }).then(function() {
                spinner.end();
            });
        }
    };
    new_statuses_button.initialize();
    
    var more_statuses_button = {
        enabled: true,
        initialize: function() {
            var self = this;
            self._setEnabled(true);
            $("#bb-more-button").on("click", function() { self.trigger(); return false; });
        },
        trigger: function() {
            var self = this;
            if(!self.enabled) return;
            self._setEnabled(false);
            spinner.begin();
            status_container.loadMoreStatuses().fail(function(error) {
                message_banner.show(error, "error");
            }).then(function() {
                spinner.end();
                self._setEnabled(true);
            });
        },
        _setEnabled: function(new_state) {
            this.enabled = new_state;
            $("#bb-more-button").button(this.enabled ? "reset" : "loading");
        }
    };
    more_statuses_button.initialize();

    unacked_counts_poller.start();
    spinner.begin();
    status_container.loadInit().then(function() {
        message_banner.show("Initialized");
    }, function(reason) {
        message_banner.show(reason, "error");
        console.error(reason);
    }).then(function() {
        spinner.end();
    });
});
    </script>
  </body>
</html>
