body {
    padding: 50px 0 0 0;
}

ul#statuses {
    margin: 0;
    padding: 5px 20px;
    width: auto;
}

ul#statuses li{
    border-width: 1px 0 0 0;
    border-color: black;
    border-style: solid;
    margin: 2px 0;
    padding: 3px 0 3px 3px;
    list-style-type: none;
    overflow: hidden;
}

.bb-status-id {
    display: none;
}

div.bb-status-profile-image {
    float: left;
    text-align: center;
    width: 48px;
}

div.bb-status-main {
    margin-left: 54px;
    padding-bottom: 8px;
}

div.bb-status-header {
    border-width: 0 0 1px 0;
    border-color: #999;
    border-style: solid;
    padding: 3px;
}

div.bb-status-text {
    padding: 8px 8px 0 8px;
}

div.bb-status-attributes {
    float: right;
    color: #333;
    font-size: 80%;
}

.bb-status-retweeted-by {
    color: #666;
    padding: 0 8px 0 12px;
}

.bb-status-retweeted-by i {
    vertical-align: middle;
}

.bb-status-username {
    font-weight: bold;
}

.bb-status-created-at {
    font-size: 80%;
}

.bb-status-cursor {
    background-color: #e7e8ec;
}


/****
  fixed sidebar
  http://stackoverflow.com/questions/9350818/fixed-sidebar-navigation-in-fluid-twitter-bootstrap-2-0
****/

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    top: 50px;
    width: 14.7%;
}

.sidebar-detail {
    max-height: 300px;
    overflow: auto;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

.bb-nav-text {
    vertical-align: middle;
    display: inline-block;
    margin: 4px;
    height: 100%;
}

#bb-spinner-placeholder {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 20px;
}

.bb-msg-error {
    text-weight: bold;
    color: #ff4758;
}

.bb-msg-warn {
    text-weight: bold;
    color: #faf681;
}

.bb-nav-button-group {
    margin: 0 2px 0 2px;
}


