/*** 
.status_container {
  margin: 5px 30px;
  width: 700px;
}
.status_time {
    text-align: right;
  text-weight: bold;
  color: red;
  float: right;
}

div#statuses div.cursor {
    border: 2px solid blue;
}

div.status_lv1, div.status_lv2, div.status_lv3, div.status_lv4, div.status_lv5 {
    border: 2px solid red;
    padding: 5px;
    margin: 2px auto;
    width: 400px;
    background-color: white;
    display: none;
}

div.header_lv1, div.header_lv2,div.header_lv3,div.header_lv4,div.header_lv5 {
    background-color: #222;
    color: red;
    height: 5px;
    margin: 0px auto;
    width: 800px;
    display: none;
    padding: auto;
    vertical-align: middle;
}

div.header_lv1 {
    display: block;
}

div.status_lv1 {
    display: block;
}

div.status_lv2 {
    background-color: #DDD;
}

div.status_lv3{
    background-color: #CCC;
}

div.status_lv4{
    background-color: #AAA;
}

div.status_lv5{
    background-color: #888;
}

div#control {
    background-color: #FFF;
    position: fixed;
    left: auto;
    right: auto;
    width: 100%;
}

div#control_left {
    float: right;
}

***/

/**********************************/

div#global_header {
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

div#global_side {
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: black;
}

div#side_container {
    float: left;
    padding: 0;
}

div#optional_container {
    float: right;
    margin: 0;
    padding: 0;
    background-color: #FC0;
}

ul#statuses {
    padding: 5px 20px;
    width: auto;
}

ul#statuses li {
    border-width: 1px 0 0 0;
    border-color: black;
    border-style: solid;
    margin: 2px 0;
    padding: 3px 0 3px 3px;
    list-style-type: none;
}

div.status_profile_image {
    float: left;
    text-align: center;
}

div.status_header {
    border-width: 0 0 1px 0;
    border-color: #999;
    border-style: solid;
    padding: 3px;
}

div.status_text {
    padding: 8px;
}

span.status_created_at {
    color: #333;
    font-size: small;
}

body {
    background-color: #CCFFCC;
    padding: 0;
    margin: 0;
}

